<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smartvillage.astagfirullah">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".listriwayat"></activity>
        <activity
            android:name=".activity.main.ProfilActivity"
            android:parentActivityName=".activity.main.DashboardActivity" />
        <activity
            android:name=".activity.main.KeadaanDaruratActivity"
            android:parentActivityName=".activity.main.DashboardActivity" />
        <activity
            android:name=".activity.main.JadwalPosyanduActivity"
            android:parentActivityName=".activity.main.DashboardActivity" />
        <activity
            android:name=".activity.main.JadwalRondaActivity"
            android:parentActivityName=".activity.main.DashboardActivity" />
        <activity
            android:name=".activity.main.RiwayatSakitActivity"
            android:parentActivityName=".activity.main.DashboardActivity" />
        <activity
            android:name=".activity.main.SuhuActivity"
            android:parentActivityName=".activity.main.DashboardActivity" />
        <activity android:name=".activity.main.MainActivity" />
        <activity android:name=".activity.main.DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.main.Dashboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.editor.EditorRiwayatSakitActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.main.RiwayatSakitActivity"
            android:theme="@style/EditorTheme" />
        <activity
            android:name=".activity.editor.EditorJadwalRondaActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.main.JadwalRondaActivity"
            android:theme="@style/EditorTheme" />
        <activity
            android:name=".activity.editor.EditorJadwalPosyanduActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.main.JadwalPosyanduActivity"
            android:theme="@style/EditorTheme" />
    </application>

</manifest>